.temp-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.text-box {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    padding: 30px;
    background-color: black;
    box-shadow: 
        0 0 10px white,
        0 0 20px #faffa3,
        0 0 30px #f9ff8f,
        0 0 40px #f9ff80,
        0 0 50px #f8ff6b,
        0 0 60px #f7ff61,
        0 0 70px #f6ff4d;
    
}

.temp-text {

    font-size: 25px;
    font-family: "Bebas Neue";
    text-shadow: 
        0 0 1px white, 
        0 0 2px #faffa3, 
        0 0 4px #f8ff6b;

}