/* NOTE: default index.css style does not include width/height styles. I added these.*/
html {
  background-color: black;
  margin: auto
}

body {
    margin: auto;
    max-width: 1350px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
